/*
	Notes Days Airing bbcode
	
* SUNDAY
[color=#444][color=##56fcc2]🆂[/color]🅼🆃🆆🆃🅵🆂[/color]

* MONDAY
[color=#444]🆂[color=##42edfc]🅼[/color]🆃🆆🆃🅵🆂[/color]

* TUESDAY
[color=#444]🆂🅼[color=##589dfc]🆃[/color]🆆🆃🅵🆂[/color]

* WEDNESDAY
[color=#444]🆂🅼🆃[color=#9d58fc]🆆[/color]🆃🅵🆂[/color]

* THURSDAY
[color=#444]🆂🅼🆃🆆[color=#fa4de9]🆃[/color]🅵🆂[/color]

* FRIDAY
[color=#444]🆂🅼🆃🆆🆃[color=#fc4c80]🅵[/color]🆂[/color]

* SATURDAY
[color=#444]🆂🅼🆃🆆🆃🅵[color=#fc6d51]🆂[/color][/color]

*/

/* Tags stuff */
.data.tags span {
    padding: 0;
}
.data.tags span a {
    margin: 1px 0;
}

/* Monday to Sunday */
.data.tags span a[href$="=mon"],
.data.tags span a[href$="=tue"],
.data.tags span a[href$="=wed"],
.data.tags span a[href$="=thu"],
.data.tags span a[href$="=fri"],
.data.tags span a[href$="=sat"],
.data.tags span a[href$="=sun"] {
    display: inline-block;
    position: absolute;
    right: 750px !important; /* 1042px */
    top: 26px !important; /* 16.5px */
    width: 100px;
    padding: 0;
    background: none;
    font-size: 0 !important;
    pointer-events: none !important;
    text-align: left !important;
    /* transform: rotate(-90deg); */
}
.data.tags span a[href$="=mon"]:before,
.data.tags span a[href$="=tue"]:before,
.data.tags span a[href$="=wed"]:before,
.data.tags span a[href$="=thu"]:before,
.data.tags span a[href$="=fri"]:before,
.data.tags span a[href$="=sat"]:before,
.data.tags span a[href$="=sun"]:before {
	font: 18px "Pixelify Sans", var(--icon-font);
	font-variant: all-small-caps;
	letter-spacing: 0.03em;
    color: var(--tc);
	text-shadow: 2px 1px 2px rgba(17,17,17,1), 0px 0px 3px var(--tc);
    opacity: 0.9;
}
.data.tags span a[href$="=mon"]:before {
    --tc: rgba(255, 123, 123, 1);
    content: "monday  \f401"; }
.data.tags span a[href$="=tue"]:before {
    --tc: rgb(255, 164, 115, 1);
    content: "tuesday  \f401"; }
.data.tags span a[href$="=wed"]:before {
    --tc: rgba(253, 205, 132, 1);
    content: "wednesday  \f401"; }
.data.tags span a[href$="=thu"]:before {
    --tc: rgba(204, 209, 115, 1);
    content: "thursday  \f401"; }
.data.tags span a[href$="=fri"]:before {
    --tc: rgba(151, 226, 243, 1);
    content: "friday  \f401"; }
.data.tags span a[href$="=sat"]:before {
    --tc: rgba(178, 158, 245, 1);
    content: "saturday  \f401"; }
.data.tags span a[href$="=sun"]:before {
    --tc: rgba(255, 148, 205, 1);
    content: "sunday  \f401";
}

.data.tags span a[href$="=A"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/SBzp7Ng.gif), hsla(0,0%,12%,1) !important; /* diamond light blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=B"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/fiyocro.gif), hsla(0,0%,12%,1) !important; /* diamond aqua blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=C"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/I4N2t0I.gif), hsla(0,0%,12%,1) !important; /* diamond tetra rainbow */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=D"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/gG2srby.png), hsla(0,0%,12%,1) !important; /* diamond dark blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=E"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/ClHyf2m.gif), hsla(0,0%,12%,1) !important; /* heart blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=F"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/Ny0vNkp.png), hsla(0,0%,12%,1) !important; /* eye glitch */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=G"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/E9GG6c3.gif), hsla(0,0%,12%,1) !important; /* fire blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=H"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/Z3e1239.gif), hsla(0,0%,12%,1) !important; /* diamond purple */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=I"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/TCxxfD2.png), hsla(0,0%,12%,1) !important; /* heart pink */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=J"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/RtyzRty.png), center / contain, top / 100% no-repeat url(https://i.imgur.com/Boe7d5O.gif), rgb(211, 173, 163) !important; /* eye rolling */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=K"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/vlpuITH.gif), hsla(0,0%,12%,1) !important; /* star blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=L"] {
    position: absolute;
    z-index: 7 !important; 
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/GiOWlHg.gif), rgb(238, 62, 78) !important; /* exclamation red */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=M"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/QHXiFqK.gif), hsla(0,0%,12%,1) !important; /* X red pulsing */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=N"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/lUQVOhU.png), hsla(0,0%,12%,1) !important; /* flower */
    font-size: 0 !important;
    line-height: 30px;
}

/* Where */
.data.tags span a[href$="=Where"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/80kOOtT.gif), rgb(30,160,228) !important; /* question mark blue */
    font-size: 0 !important;
    line-height: 30px;
}
/* Unko */
.data.tags span a[href$="=Unko"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/BeyZoL6.gif), hsla(0,0%,12%,1) !important; /* poop brown */
    font-size: 0 !important;
    line-height: 30px;
}
/* Ded */
.data.tags span a[href$="=Ded"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/4No48yT.png), hsla(0,0%,12%,1) !important; /* skull red crying */
    font-size: 0 !important;
    line-height: 30px;
}
/* inf */
.data.tags span a[href$="=inf"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/bSzKehi.gif), hsla(0,0%,12%,1) !important; /* infinity */
    font-size: 0 !important;
    line-height: 30px;
}
    /* arrow next of tooltip */
    .data.tags span a[href$="=Where"]::before,
    .data.tags span a[href$="=Unko"]::before,
    .data.tags span a[href$="=Ded"]::before,
    .data.tags span a[href$="=inf"]::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 102%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent var(--page-category) transparent transparent;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.25s ease;
    }
    .data.tags span a[href$="=Where"]:hover::before,
    .data.tags span a[href$="=Unko"]:hover::before,
    .data.tags span a[href$="=Ded"]:hover::before,
    .data.tags span a[href$="=inf"]:hover::before {
        opacity: 1;
    }
    /* tooltip */
    .data.tags span a[href$="=Where"]::after,
    .data.tags span a[href$="=Unko"]::after,
    .data.tags span a[href$="=Ded"]::after,
    .data.tags span a[href$="=inf"]::after {
        position: absolute;
        top: 50%;
        left: 38px;
        z-index: 2;
        width: max-content;
        max-width: 150px;
        padding: 6px 8px 6px 8px; /* top right bott left */
        background: #181818;
        border-radius: 6px;
        border-left: solid 3px var(--page-category);
        color: var(--content-text);
        font: bold 12px var(--font), var(--icon-font);
        text-align: center;
        white-space: pre-wrap;
        opacity: 0;
        line-height: 1.1em;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }
    .data.tags span a:hover::after {
        opacity: 1;
    }
    /* tags descriptions */
    .data.tags span a[href$="=Where"]::after {
        content: "\a Cant find\a anywhere online,\a No subs/TL"
    }
    .data.tags span a[href$="=Unko"]::after {
        content: "\a Shitshow"
    }
    .data.tags span a[href$="=Ded"]::after {
        content: "\a Author died,\a Studio bankrupted,\a Cancelled, etc"
    }
    .data.tags span a[href$="=inf"]::after {
        content: "\a Forever airing,\a Will never end"
    }


/* Blur Hentai 
.data.tags span a[href$="=Hentai"] {
	position: absolute;
	z-index: 6;
	inset: -1px -1px;
	border: 0px solid var(--content-highlight);
	border-radius: 6px;
	background: #0004 !important;
	margin: 0;
	font-size: 0 !important;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	pointer-events: none;
}
.list-table-data:hover .data.tags span a[href$="=Hentai"] {
	opacity: 0;
}
.data.tags span a[href$="=Hentai"]::before {
	content: " Lewd Content ";
	position: absolute;
	inset: 50% auto auto 50%;
	padding: 3px 6px;
    background: radial-gradient(circle, rgba(255,190,35,1) 0px, rgba(255,113,47,1) 53px, rgba(255,38,82,1) 0px);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
	border: 2px solid var(--content-highlight);
	border-radius: 6px;
	font: 700 13px/22px var(--font) !important;
    text-transform: uppercase;
	transform: translate(-50%,-50%);
} */
