/* Tags stuff */
.data.tags span {
    padding: 0;
}
.data.tags span a {
    margin: 1px 0;
}

.data.tags span a[href$="=A"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/SBzp7Ng.gif), hsla(0,0%,12%,1) !important; /* diamond light blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=B"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/fiyocro.gif), hsla(0,0%,12%,1) !important; /* diamond aqua blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=C"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/I4N2t0I.gif), hsla(0,0%,12%,1) !important; /* diamond tetra rainbow */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=D"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/5bEodut.gif), hsla(0,0%,12%,1) !important; /* diamond dark blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=E"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/ClHyf2m.gif), hsla(0,0%,12%,1) !important; /* heart blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=F"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/Ny0vNkp.png), hsla(0,0%,12%,1) !important; /* eye glitch */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=G"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/E9GG6c3.gif), hsla(0,0%,12%,1) !important; /* fire blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=H"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/Z3e1239.gif), hsla(0,0%,12%,1) !important; /* diamond purple */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=I"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/1sABwvE.gif), hsla(0,0%,12%,1) !important; /* heart pink */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=J"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/Boe7d5O.gif), hsla(0,0%,12%,1) !important; /* eye rolling */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=K"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/vlpuITH.gif), hsla(0,0%,12%,1) !important; /* star blue */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=L"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/GiOWlHg.gif), hsla(0,0%,12%,1) !important; /* exclamation red */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=M"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/QHXiFqK.gif), hsla(0,0%,12%,1) !important; /* X red pulsing */
    font-size: 0 !important;
    line-height: 30px;
}
.data.tags span a[href$="=N"] {
    position: absolute;
    left: 98.6%;
    top: calc(50% - 19px);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 2px solid var(--page-category);
    border-radius: 50%;
    background: center / contain, top / 100% no-repeat url(https://i.imgur.com/lUQVOhU.png), hsla(0,0%,12%,1) !important; /* flower */
    font-size: 0 !important;
    line-height: 30px;
}

/* Where */
.data.tags span a[href$="=Where"] {
        position: absolute;
        left: 98.6%;
        top: calc(50% - 19px);
        width: 30px;
        height: 30px;
        padding: 0;
        border: 2px solid var(--page-category);
        border-radius: 50%;
        background: center / contain, top / 100% no-repeat url(https://i.imgur.com/80kOOtT.gif), hsla(0,0%,12%,1) !important; /* question mark blue */
        font-size: 0 !important;
        line-height: 30px;
    }

    /* arrow next of tooltip */
    .data.tags span a[href$="=Where"]:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 102%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent var(--page-category) transparent transparent;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.25s ease;
    }
    .data.tags span a[href$="=Where"]:hover::before {
        opacity: 1;
    }

    /* tooltip */
    .data.tags span a[href$="=Where"]::after {
        position: absolute;
        top: 50%;
        left: 38px;
        z-index: 2;
        width: max-content;
        max-width: 150px;
        padding: 6px;
        background: linear-gradient(to right, var(--page-category) 3px, #181818 0);
        border-radius: 6px;
        color: #ebebeb;
        font-size: 12px;
        text-align: center;
        white-space: pre-wrap;
        opacity: 0;
        line-height: 1.1em;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .data.tags span a:hover::after {
        opacity: 1;
    }

    /* tags descriptions */
    .data.tags span a[href$="=Where"]::after {
        content: "\a Cant find\a anywhere online,\a No subs"
    }

/* Unko */
    .data.tags span a[href$="=Unko"] {
        position: absolute;
        left: 98.6%;
        top: calc(50% - 19px);
        width: 30px;
        height: 30px;
        padding: 0;
        border: 2px solid var(--page-category);
        border-radius: 50%;
        background: center / contain, top / 100% no-repeat url(https://i.imgur.com/BeyZoL6.gif), hsla(0,0%,12%,1) !important; /* poop brown */
        font-size: 0 !important;
        line-height: 30px;
    }

    /* arrow next of tooltip */
    .data.tags span a[href$="=Unko"]:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 102%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent var(--page-category) transparent transparent;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.25s ease;
    }
    .data.tags span a[href$="=Unko"]:hover::before {
        opacity: 1;
    }

    /* tooltip */
    .data.tags span a[href$="=Unko"]::after {
        position: absolute;
        top: 50%;
        left: 38px;
        z-index: 2;
        width: max-content;
        max-width: 150px;
        padding: 6px;
        background: linear-gradient(to right, var(--page-category) 3px, #181818 0);
        border-radius: 6px;
        color: #ebebeb;
        font-size: 12px;
        text-align: center;
        white-space: pre-wrap;
        opacity: 0;
        line-height: 1.1em;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .data.tags span a:hover::after {
        opacity: 1;
    }
    
    /* tags descriptions */
    .data.tags span a[href$="=Unko"]::after {
        content: "\a Shitshow"
    }

/* Ded */
    .data.tags span a[href$="=Ded"] {
        position: absolute;
        left: 98.6%;
        top: calc(50% - 19px);
        width: 30px;
        height: 30px;
        padding: 0;
        border: 2px solid var(--page-category);
        border-radius: 50%;
        background: center / contain, top / 100% no-repeat url(https://i.imgur.com/4No48yT.png), hsla(0,0%,12%,1) !important; /* skull red crying */
        font-size: 0 !important;
        line-height: 30px;
    }

    /* arrow next of tooltip */
    .data.tags span a[href$="=Ded"]:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 102%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent var(--page-category) transparent transparent;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.25s ease;
    }
    .data.tags span a[href$="=Ded"]:hover::before {
        opacity: 1;
    }

    /* tooltip */
    .data.tags span a[href$="=Ded"]::after {
        position: absolute;
        top: 50%;
        left: 38px;
        z-index: 2;
        width: max-content;
        max-width: 150px;
        padding: 6px;
        background: linear-gradient(to right, var(--page-category) 3px, #181818 0);
        border-radius: 6px;
        color: #ebebeb;
        font-size: 12px;
        text-align: center;
        white-space: pre-wrap;
        opacity: 0;
        line-height: 1.1em;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .data.tags span a:hover::after {
        opacity: 1;
    }
    
    /* tags descriptions */
    .data.tags span a[href$="=Ded"]::after {
        content: "\a Author died,\a Studio bankrupted,\a Cancelled, etc"
    }

/* inf */
    .data.tags span a[href$="=inf"] {
        position: absolute;
        left: 98.6%;
        top: calc(50% - 19px);
        width: 30px;
        height: 30px;
        padding: 0;
        border: 2px solid var(--page-category);
        border-radius: 50%;
        background: center / contain, top / 100% no-repeat url(https://i.imgur.com/bSzKehi.gif), hsla(0,0%,12%,1) !important; /* infinity */
        font-size: 0 !important;
        line-height: 30px;
    }

    /* arrow next of tooltip */
    .data.tags span a[href$="=inf"]:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 102%;
        border-width: 6px;
        border-style: solid;
        border-color: transparent var(--page-category) transparent transparent;
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.25s ease;
    }
    .data.tags span a[href$="=inf"]:hover::before {
        opacity: 1;
    }

    /* tooltip */
    .data.tags span a[href$="=inf"]::after {
        position: absolute;
        top: 50%;
        left: 38px;
        z-index: 2;
        width: max-content;
        max-width: 150px;
        padding: 6px;
        background: linear-gradient(to right, var(--page-category) 3px, #181818 0);
        border-radius: 6px;
        color: #ebebeb;
        font-size: 12px;
        text-align: center;
        white-space: pre-wrap;
        opacity: 0;
        line-height: 1.1em;
        transform: translateY(-50%);
        transition: opacity 0.3s ease;
        pointer-events: none;
    }

    .data.tags span a:hover::after {
        opacity: 1;
    }
    
    /* tags descriptions */
    .data.tags span a[href$="=inf"]::after {
        content: "\a Forever airing,\a Will never end"
    }

