/* crown for score 8,9,10 */
.data .score-8 {
    --c-icon: "\f521";
    --cbgc1: hsl(329, 91%, 66%);
    --cbgc2: hsl(329, 91%, 20%);
    --hrd: 120deg
}

.data .score-9 {
    --c-icon: "\f521";
    --cbgc1: hsl(275, 91%, 66%);
    --cbgc2: hsl(275, 91%, 20%);
    --hrd: 70deg
}

.data .score-10 {
    --c-icon: "\f521";
    --cbgc1: hsl(190, 91%, 66%);
    --cbgc2: hsl(190, 91%, 20%);
    --hrd: 0deg
}

.data .score-label:before,
.data .score-label:after {
    content: var(--c-icon);
    position: absolute;
    opacity: 1; 
    z-index: 40;
    filter: drop-shadow(1.5px 1.5px 2px rgba(5,5,5,.2)) !important;
}

.data .score-label:before {
    font-size: 0 !important
}
.data .score-label:after {
    left: 28px;
    bottom: 200px;
    height: 50px;
    width: 50px;
    background: url(https://i.imgur.com/eAmPXeQ.png) top / 45px,
		radial-gradient(circle at 30% 20%, var(--cbgc1) 30%,  50%, var(--cbgc2) 100%) 0px 0px / 50px 55px no-repeat no-repeat !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    font: bold 35px fontawesome;
    color: transparent;
    -webkit-text-stroke: 1.5px var(--bg);
    transform: rotate(35deg);
    pointer-events: none;
}

[data-work="manga"] .data .score-label:after {
    left: 8px;
    bottom: 201px
}

/* Monday to Sunday */
.data.tags a[href$="=mon"],
.data.tags a[href$="=tue"],
.data.tags a[href$="=wed"],
.data.tags a[href$="=thu"],
.data.tags a[href$="=fri"],
.data.tags a[href$="=sat"],
.data.tags a[href$="=sun"] {
    position: absolute;
    left: -18px !important;
    top: -35px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tdbg);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow-big) !important;
    overflow: hidden;
    z-index: 4;
}

.data.tags a[href$="mon"]:hover,
.data.tags a[href$="tue"]:hover,
.data.tags a[href$="wed"]:hover,
.data.tags a[href$="thu"]:hover,
.data.tags a[href$="fri"]:hover,
.data.tags a[href$="sat"]:hover,
.data.tags a[href$="sun"]:hover {
    width: 80px;
    left: -80px !important;
}

.data.tags a[href$="=mon"] {
  background: hsl(149, 63%, 66%);}
.data.tags a[href$="=tue"] {
  background: hsl(185, 65%, 69%);}
.data.tags a[href$="=wed"] {
  background: hsl(250, 55%, 70%);}
.data.tags a[href$="=thu"] {
  background: hsl(307, 55%, 61%);}
.data.tags a[href$="=fri"] {
  background: hsl(360, 72%, 65%);}
.data.tags a[href$="=sat"] {
  background: hsl(27, 95%, 69%);}
.data.tags a[href$="=sun"] {
  background: hsl(60, 74%, 73%);
}

.data.tags a[href$="=mon"]:before,
.data.tags a[href$="=tue"]:before,
.data.tags a[href$="=wed"]:before,
.data.tags a[href$="=thu"]:before,
.data.tags a[href$="=fri"]:before,
.data.tags a[href$="=sat"]:before,
.data.tags a[href$="=sun"]:before {
  font: bold 11px/32px Segoe UI;
  font-variant: normal;
  color: var(--t-dark);
  margin-left: 1.5px;
}

.data.tags a[href$="=mon"]:before {
  content: "Monday";
  letter-spacing: 1.6px;}
.data.tags a[href$="=tue"]:before {
  content: "Tuesday";
  letter-spacing: 1.6px; }
.data.tags a[href$="=wed"]:before {
  content: "Wednesday";
  letter-spacing: 1.5px; }
.data.tags a[href$="=thu"]:before {
  content: "Thursday";
  letter-spacing: 1.6px; }
.data.tags a[href$="=fri"]:before {
  content: "Friday";
  letter-spacing: 1.8px; }
.data.tags a[href$="=sat"]:before {
  content: "Saturday";
  letter-spacing: 1.6px;  }
.data.tags a[href$="=sun"]:before {
  content: "Sunday";
  letter-spacing: 1.6px;
 }
 
 /* Days */
.data.tags a[href$="=Days"] {
    --tbgc: hsl(100, 62%, 63%);
    position: absolute;
    left: -18px !important;
    top: -35px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tbgc);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow);
    z-index: 4;
}
/* Where */
.data.tags a[href$="=Where"] {
    --tbgc: hsl(215, 79%, 66%);
    position: absolute;
    left: -18px !important;
    top: 1px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tbgc);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow);
    z-index: 4;
}
/* inf */
.data.tags a[href$="=inf"] {
    --tbgc: hsl(240, 20%, 20%);
    position: absolute;
    left: -18px !important;
    top: 37px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tbgc);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow);
    z-index: 4;
}
/* pp */
.data.tags a[href$="=pp"] {
    --tbgc: hsl(330, 66%, 66%);
    position: absolute;
    left: -18px !important;
    top: 73px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tbgc);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow);
    z-index: 4;
}
/* Ded */
.data.tags a[href$="=Ded"] {
    --tbgc: hsl(350, 62%, 53%);
    position: absolute;
    left: -18px !important;
    top: 109px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tbgc);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow);
    z-index: 4;
}
/* Unko */
.data.tags a[href$="=Unko"] {
    --tbgc: hsl(40, 80%, 66%);
    position: absolute;
    left: -18px !important;
    top: 145px !important;
    width: 18px;
    height: 32px;
    padding: 0;
    background: var(--tbgc);
    border-radius: 5px 0 0 5px;
    box-shadow: var(--shadow);
    z-index: 4;
}
.data.tags a[href$="=Days"]:before {
  font: bold 13px/32px FontAwesome;
  color: var(--t-dark);
  content: "\f736";
}
.data.tags a[href$="=Where"]:before {
  font: bold 13px/32px FontAwesome;
  color: var(--t-dark);
  content: "\f059";
}
.data.tags a[href$="=Unko"]:before {
  font: bold 14px/31px FontAwesome;
  color: var(--t-dark);
  content: "\f2fe";
}
.data.tags a[href$="=Ded"]:before {
  font: bold 14px/32px FontAwesome;
  color: var(--t-dark);
  content: "\f54c";
}
.data.tags a[href$="=inf"]:before {
  font: bold 12px/32px FontAwesome;
  color: #f8f8ff;
  content: "\f534";
}
.data.tags a[href$="=pp"]:before {
  font: bold 13px/32px FontAwesome;
  color: var(--t-dark);
  content: "\e0d2"; /*e356*/
}

/* tooltip */
.data.tags a[href$="=Days"]::after,
.data.tags a[href$="=Where"]::after,
.data.tags a[href$="=Unko"]::after,
.data.tags a[href$="=Ded"]::after,
.data.tags a[href$="=inf"]::after,
.data.tags a[href$="=pp"]::after {
  position: absolute;
  top: 50%;
  left: -75px;
  z-index: 100;
  width: 140px;
  padding: 6px;
  background: var(--bg2);
  box-shadow: var(--shadow);
  border-radius: 4px;
  border:  solid 1px var(--tbgc);
  color: var(--text-dim);
  font: bold 12px ABeeZee;
  text-align: center;
  white-space: pre-wrap;
  opacity: 0;
  line-height: 1.3em;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.25s ease, opacity .35s ease-in;
  pointer-events: none;
}

.data.tags a:hover::after {
  left: -85px;
  opacity: 1;
}

/* tags descriptions */
.data.tags a[href$="=Days"]:after {
  content: "Airing days for the current season";
}
.data.tags a[href$="=Where"]:after {
  content: "Cant find\a anywhere online,\a No English subs"
}
.data.tags a[href$="=Unko"]:after {
  content: "Shit show"
}
.data.tags a[href$="=Ded"]:after {
  content: "Author died,\a Studio bankrupted,\a Cancelled, \"Covid\" etc"
}
.data.tags a[href$="=inf"]:after {
  content: "Forever airing,\a Will never end"
}
.data.tags a[href$="=pp"]:after {
  content: "Airing postponed due to production issues"
}

/* + */
.data.tags a[href$="tag=%2B"] {
    position: absolute;
    animation: dashed 5s linear infinite reverse;
    background: none, linear-gradient(90deg, var(--status) 50%, transparent 50%), none, none;
    background-size: 0 0, 10px 2.5px, 0 0, 0 0;
    border-radius: 0 0 6px 6px;
    font-size: 0;
    height: 2.5px;
    width: 142px;
    top: 183.5px;
    left: 4px;
    pointer-events: none;
    z-index: 0
}

[data-work="manga"] .data.tags a[href$="tag=%2B"] {
    width: 102px
}

@keyframes dashed {
    0% {
        background-position: 0 0, 100px 0, 0 0, 0 0
    }
    100% {
        background-position: 100px 0, 0 0, 0 0, 0 0
    }
}

/* Gem */
.data.tags a[href*="Gem"] {
    content: "";
    display: block;
    position: absolute;
    background: linear-gradient(100deg, #70c8ed, #f46592, #8c7dd0, #ffc46c, #70d0b6);
    border-radius: 10px;
    padding: 5px;
    height: 228px;
    width: 150px;
    top: -45px;
    left: -5px;
    -webkit-mask: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0) content-box;
    mask-composite: exclude;
    pointer-events: none;
    opacity: 0.65;
    z-index: -100
}

.list-table-data:hover .data.tags a[href*=Gem] {
    opacity: 1
}

/* Rewatch */
.data.tags a[href$="tag=1"],
.data.tags a[href$="tag=2"],
.data.tags a[href$="tag=3"],
.data.tags a[href$="tag=4"],
.data.tags a[href$="tag=5"],
.data.tags a[href$="tag=6"],
.data.tags a[href$="tag=7"],
.data.tags a[href$="tag=8"],
.data.tags a[href$="tag=9"],
.data.tags a[href$="tag=10"] {
    position: absolute;
    background: linear-gradient(to bottom, var(--bg) 1%, var(--bg1) 65%);
    border-radius: 3px;
    color: var(--status) !important;
    font: bold 11px/21px Advent Pro, FontAwesome;
    height: 21px;
    width: 31px;
    top: -52px;
    left: 16px;
    pointer-events: none;
    transition: 0.2s !important;
    z-index: 4
}

.list-table-data:hover .data.tags a[href$="tag=1"],
.list-table-data:hover .data.tags a[href$="tag=2"],
.list-table-data:hover .data.tags a[href$="tag=3"],
.list-table-data:hover .data.tags a[href$="tag=4"],
.list-table-data:hover .data.tags a[href$="tag=5"],
.list-table-data:hover .data.tags a[href$="tag=6"],
.list-table-data:hover .data.tags a[href$="tag=7"],
.list-table-data:hover .data.tags a[href$="tag=8"],
.list-table-data:hover .data.tags a[href$="tag=9"],
.list-table-data:hover .data.tags a[href$="tag=10"] {
    background: linear-gradient(to bottom, var(--bg), var(--bg1) 0%);
    box-shadow: var(--shadow)
}

.data.tags a[href$="tag=1"]:after,
.data.tags a[href$="tag=2"]:after,
.data.tags a[href$="tag=3"]:after,
.data.tags a[href$="tag=4"]:after,
.data.tags a[href$="tag=5"]:after,
.data.tags a[href$="tag=6"]:after,
.data.tags a[href$="tag=7"]:after,
.data.tags a[href$="tag=8"]:after,
.data.tags a[href$="tag=9"]:after,
.data.tags a[href$="tag=10"]:after {
    content: "\f021";
    display: inline-block;
    margin-left: 4px
}

.list-table-data:hover .data.tags a[href$="tag=1"]:after,
.list-table-data:hover .data.tags a[href$="tag=2"]:after,
.list-table-data:hover .data.tags a[href$="tag=3"]:after,
.list-table-data:hover .data.tags a[href$="tag=4"]:after,
.list-table-data:hover .data.tags a[href$="tag=5"]:after,
.list-table-data:hover .data.tags a[href$="tag=6"]:after,
.list-table-data:hover .data.tags a[href$="tag=7"]:after,
.list-table-data:hover .data.tags a[href$="tag=8"]:after,
.list-table-data:hover .data.tags a[href$="tag=9"]:after,
.list-table-data:hover .data.tags a[href$="tag=10"]:after {
    animation: spin 2s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

/* Poifect */
.data.tags a[href$="tag=100"] {
    content: "";
    display: block;
    position: absolute;
    border: 2px solid var(--status);
    border-radius: 10px 10px 12px 12px;
    box-shadow: 0 0 0 4px var(--bg) inset;
    font-size: 0;
    height: 235.5px;
    width: 157.5px;
    top: -45.5px;
    left: -5.5px;
    pointer-events: none;
    z-index: 3
}

.data.tags a[href$="tag=100"]:before {
    content: "\e41c";
    display: flex;
    position: absolute;
    color: var(--white) !important;
    font: bold 56px FontAwesome;
    -webkit-text-stroke: 2px var(--status);
    height: 56px;
    width: 56px;
    top: 195px;
    left: 110px;
    align-items: center;
    justify-content: center;
    transform: rotate(-15deg)
}

.data.tags a[href$="tag=100"]:after {
    content: "";
    display: block;
    position: absolute;
    background: var(--lower);
    border-radius: 4px;
    height: 18px;
    width: 25px;
    top: 209px;
    left: 112px;
    z-index: -1
}

[data-work="manga"] .data.tags a[href$="tag=100"]:before {
    top: 185px
}

[data-work="manga"] .data.tags a[href$="tag=100"]:after {
    background: var(--upper);
    top: 197.5px;
    left: 121.5px
}

[data-work="anime"][data-query*="\":17"] .data.tags a[href$="tag=100"]:before,
[data-work="anime"][data-query*="\":17"] .data.tags a[href$="tag=100"]:after,
[data-work="anime"][data-query*="\":-17"] .data.tags a[href$="tag=100"]:before,
[data-work="anime"][data-query*="\":-17"] .data.tags a[href$="tag=100"]:after,
[data-work="manga"][data-query*="\":15"] .data.tags a[href$="tag=100"]:before,
[data-work="manga"][data-query*="\":15"] .data.tags a[href$="tag=100"]:after,
[data-work="manga"][data-query*="\":-15"] .data.tags a[href$="tag=100"]:before,
[data-work="manga"][data-query*="\":-15"] .data.tags a[href$="tag=100"]:after {
    display: none
}

.data.score:hover~.data.tags a[href$="tag=100"]:before,
.data.score:hover~.data.tags a[href$="tag=100"]:after {
    display: none
}
