/* Add Avatar */

#status-menu:not(.fixed) .status-menu:not(.fixed) {
	padding-left: 160px;
}

#status-menu:not(.fixed) .status-menu:not(.fixed)::after {
	content: "";
	width: 140px;
	height: 140px;
	border: 6px solid var(--content-background);
	border-radius: 50%;
	margin: -45px 0 0 -143px;
	/* original ava - https://i.ibb.co/FKYW03J/animelist-ava.webp */
	background: url(https://i.imgur.com/1ijZjor.png) center / auto, url(https://signavatar.com/77192_v.gif) no-repeat center / cover var(--content-highlight);
	position: absolute;
	z-index: 1;
	box-shadow: inset 0px 0px 4px 2px var(--content-background); /* posX posY blur thicc */
}

/* spinning color behind avatar 
#status-menu:not(.fixed) .status-menu:not(.fixed)::before {
	content: "";
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: -45px 0 0 -150px;
	background-image: linear-gradient(to right, #5ddcff, #3c67e3 45%, #832FFF);
	border: 1px var(--content-background) solid;
	position: absolute;
	z-index: 0;
	animation: rotate 1.8s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    trasnform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */


/* cover preview on hover */

.data.image a {
    overflow: visible;
}
.data.image a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -205px;
    z-index: 50;
    width: 190px;
    height: 0;
    background: var(--content-background) no-repeat center/cover;
    border-radius: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}
.data.image:hover a::before {
    top: calc(50% - 130px);
    height: 260px;
    opacity: 1;
}
.data.image a::after,
.data.image img {
    border-radius: 50%;
}
.data.image::before {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    left: -15px;
    border-width: 12px 12px 12px;
    border-style: solid;
    border-color: transparent transparent transparent var(--content-highlight);
    opacity: 0;
    transition: opacity .2s ease;
}
.data.image:hover::before {
    opacity: 1;
    transition-delay: 50ms;
}
.data.image a::before {
    border: 3px solid var(--content-highlight);
    box-sizing: border-box;
}

/* SCROLLBAR */
 
/* width */
::-webkit-scrollbar {
	width: 15px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #111; 
}
/* Handle */
::-webkit-scrollbar-thumb {
	background:linear-gradient(135deg, rgba(6, 128, 170, 1) 0%, rgba(79, 17, 180, 1) 100%);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background:linear-gradient(135deg, rgba(8, 176, 233, 1) 0%, rgba(106, 30, 230, 1) 100%);
}
/* corner */
::-webkit-scrollbar-corner {
	background: #111;
}


/* list color on hover */

.list-table-data {
	position: relative; /* so that the pseudo element will position in relation to this */
	z-index: 0; /* prevent the -1 z-index on the pseudo element from going below the .list-item */
}

.list-table-data:before {
	content: "";
	position: absolute;
	z-index: -1; /* position below the parent element (.list-table-data) */
	inset: 0;
	background-image: linear-gradient(90deg,
	rgb(0, 181, 253) 0%,
	rgb(29, 175, 253) 5%,
	rgb(35, 159, 253) 10%,
	rgb(41, 143, 253) 15%,
	rgb(47, 127, 252) 20%,
	rgb(54, 111, 252) 25%,
	rgb(60, 95, 251) 30%,
	rgb(63, 87, 251) 35%,
	rgb(66, 79, 251) 40%,
	rgb(72, 62, 250) 50%,
	rgb(66, 79, 251) 60%,
	rgb(63, 87, 251) 65%,
	rgb(60, 95, 251) 70%,
	rgb(54, 111, 252) 75%,
	rgb(47, 127, 252) 80%,
	rgb(41, 143, 253) 85%,
	rgb(35, 159, 253) 90%,
	rgb(29, 175, 253) 95%,
	rgb(0, 181, 253) 100%);
    box-shadow: 0px 0px 40px 8px #211E21 inset;
    top: 0px;
    left: 0px;
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity .25s ease;
    border-radius: 6px;
	margin: -1px;
}

.list-table-data:hover:before {
    opacity: 0.3;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    100% { background-position: -400% 0; }
}


/* FILTER POPUP BACKGROUND IMAGE */
div#advanced-options {
  --menu-blur: blur(10px);
  --menu-bg-color: hsla(0,0%,10%, 0.5);
	background-color: var(--menu-bg-color);
	background-image: url();
	background-size: 100% 100%;
	background-repeat: no-repeat !important;
	backdrop-filter: var(--menu-blur);
}


/* search box border */

#status-menu:not(.fixed) .search-container {
	/* add border with transition */
	border: 2px solid transparent;
	transition: border 0.2s ease;
	/* adjust sizing to allow for less cramped border - could be removed if desired */
	top: 9px;
	height: 32px;
	background-clip: content-box;
	border-radius: 5px;
}
#status-menu:not(.fixed) .search-container:focus-within {
	/* set border colour upon selection */
	border-color: var(--page-category);
}

#status-menu:not(.fixed) #search-box input {
	/* remove outline to prevent conflicting border visuals */
	outline: 0 !important;
}


/* TITLE COLOR ON TABLE HOVER PER CATEGORY */

.list-table .list-table-data .title .link {
	color: var(--content-text) !important; 
	transition: color 0.13s ease-out; }
.list-table .list-table-data:hover .data.title .link:hover {
	color: var(--local-category) !important; 
	transition: color 0.13s ease-out; }
	
[data-query*='"status":7'] .list-table  .list-table-data:hover .title .link {
	color: hsl(195, 50%, 70%) !important; }

[data-query*='"status":1'] .list-table  .list-table-data:hover .title .link {
	color: hsl(210, 50%, 75%) !important; }

[data-query*='"status":2'] .list-table  .list-table-data:hover .title .link {
	color: hsl(265, 45%, 75%) !important; }

[data-query*='"status":3'] .list-table  .list-table-data:hover .title .link {
	color: hsl(290, 50%, 75%) !important; }

[data-query*='"status":4'] .list-table  .list-table-data:hover .title .link {
	color: hsl(320, 50%, 75%) !important; }

[data-query*='"status":6'] .list-table  .list-table-data:hover .title .link {
	color: hsl(340, 50%, 75%) !important; }


/* change Progress to Eps. */
.header-title.progress {
	width: 70px !important;
}
.header-title.progress a {
	font-size: 0 !important; 
}
.header-title.progress a::before {
	content: "Episodes";
	font-size: 12px;
}


/* Top Rated Banners */

.data.score-label {
	--top-text: none;
	--rated: transparent;
	--toggle: hidden;
}
.data .score-8 {
	--top-text: "TOP RATED";
	--rated: var(--eight);
	--r-bg: radial-gradient(ellipse farthest-corner at right bottom, hsl(29, 99%, 63%) 0%, hsl(20, 98%, 61%) 8%, hsl(21, 70%, 45%) 30%, hsl(22, 59%, 42%) 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, hsl(40, 100%, 92%) 0%, hsl(40, 100%, 84%) 8%, hsl(24, 84%, 61%) 25%, hsl(22, 80%, 30%) 62.5%, hsl(22, 80%, 30%) 100%);
}
.data .score-9 {
	--top-text: "TOP RATED";
	--rated: var(--nine);
	--r-bg: radial-gradient(ellipse farthest-corner at right bottom, hsl(180, 0%, 92%) 0%, hsl(180, 0%, 90%) 8%, hsl(180, 0%, 64%) 30%, hsl(180, 0%, 61%) 40%, transparent 80%),
            radial-gradient(ellipse farthest-corner at left top, hsl(0, 0%, 100%) 0%, hsl(180, 0%, 93%) 8%, hsl(180, 0%, 70%) 25%, hsl(180, 0%, 45%) 62.5%, hsl(180, 0%, 45%) 100%);
}
.data .score-10 {
	--top-text: "TOP RATED";
	--rated: var(--ten);
	--r-bg: radial-gradient(ellipse farthest-corner at right bottom, hsla(49, 99%, 63%, 1) 0%, hsla(40, 98%, 61%, 1) 8%, hsla(41, 80%, 41%, 1) 30%, hsla(42, 79%, 38%, 1) 40%, transparent 80%),
			radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, hsla(60, 100%, 84%, 1) 8%, hsla(44, 94%, 61%, 1) 25%, hsla(42, 80%, 30%, 1) 62.5%, hsla(42, 80%, 30%, 1) 100%);
}
.data .score-label::before,
.data .score-label::after {
	content: var(--top-text);
	position: absolute;
	z-index: 50;
	opacity: 0;
	transition: all .3s ease;
}
.data.image:hover ~ .score .score-label::before,
.data.image:hover ~ .score .score-label::after {
	margin-top: -130px;
	opacity: 1;
}
.data .score-label::before {
	left: -205px;
	top: calc(50% - 0px);
	width: 190px;
	height: 20px;
	border-top: 3px solid hsla(var(--rated), 1);
	border-radius: 10px 10px 0 0;
	font-size: 0;
	pointer-events: none;
	box-shadow:
	 	0 -4px 3px -3px hsl(var(--rated)),
		inset 0 8px 3px -6px var(--content-highlight);
		/* shadows top, bottom of line*/
}
.data .score-label::after {
    left: calc(-205px + 190px/2);
    top: calc(50% - 7px);
    min-width: 100px;
    height: 16px;
    padding: 0 10px;
    border-radius: 3px;
    background: var(--r-bg);
    box-shadow: 0px 0px 4px 1px hsla(var(--rated), 0.9), 0px 3px 3px 1px var(--content-background);
    color: var(--content-background);
    font: bold 14px/16px "Pixelify Sans";
    letter-spacing: 1px;
    text-shadow: 0px 1px 3px hsla(var(--rated), 1);
    transform: translateX(-50%);
    pointer-events: none;
}
.data.score {
	position: static;
}


/* Auto-hiding Tags & Genres */

.data:is(.tags,.genre) {
	display: grid !important;
	grid-auto-columns: max-content;
	grid-auto-flow: column;
	grid-template-rows: 0fr;
	transition: grid-template-rows .18s ease 0s;
}
.data.tags {
	grid-auto-columns: 1fr;
}
#list-container .list-table-data:hover .data:is(.tags,.genre) {
	grid-template-rows: 1fr;
	transition-delay: .4s;
}
.data.tags div, .data.genre span {
	overflow: hidden;
}
.data.tags a {
	white-space: wrap;
	word-break: break-word;
}

/* try to unfuck demographic */
.data.genre ~ .genre {
	display: block !important;
}
.data.genre ~ .genre span {
	overflow: visible;
}

/* loading bar */
.data.tags div:not(:empty)::before {
	content: "";
	position: absolute;
	inset: auto 14px -1px 25px;
	width: 0;
	height: 2px;
	border-radius: 100px;
	background: var(--page-category);
}
.list-table-data:hover .data.tags div::before {
	animation:
		.4s ease-in-out 0s barfill both,
		.15s ease-in-out .40s barfade both;
}
@keyframes barfill {
	from {
		width: 0;
	} to {
		width: calc(100% - 24px);
	}
}
@keyframes barfade {
	from {
		opacity: 1;
	} to {
		opacity: 0;
	}
}
